@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background: #313131;
  padding: 11px 0 11px 0;
}

.header__link {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}

.header__namber {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list {
  margin-right: 30px;
}

.header__phone {
  margin-left: 30px;
  margin-right: 10px;
}

.burger__menu-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 30;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #313131;
}

.burger__menu-btn:hover .burger__menu-lines {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.burger__menu-lines, .burger__menu-lines::after, .burger__menu-lines::before {
  position: absolute;
  width: 40px;
  height: 6px;
  background-color: #FFFFFF;
}

.burger__menu-lines {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.burger__menu-lines::before {
  content: '';
  top: -12px;
}

.burger__menu-lines::after {
  content: '';
  top: 12px;
}

.burger__menu-active .burger__menu-lines {
  background-color: transparent;
}

.burger__menu-active .burger__menu-lines::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger__menu-active .burger__menu-lines::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger__menu-nav {
  padding-top: 80px;
  position: fixed;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
  background-color: #313131;
  overflow-y: auto;
  left: -100%;
}

.burger__menu-active .burger__menu-nav {
  left: 0;
}

.burger__menu-link {
  padding: 30px;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.burger__menu-link:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.underheader__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.underheader__click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.underheader__input {
  bottom: none;
  width: 700px;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.underheader__liker {
  margin-left: 30px;
}

.underheader__search--icon {
  margin-right: 10px;
}

.underheader__bottom {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 23px 40px;
  margin-bottom: 30px;
}

.underheader__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.underheader__in {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: #414141;
  margin-left: 10px;
}

.underheader__in:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.underheader__details-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.underheader__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.underheader__namber {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  color: #414141;
  margin-left: 10px;
}

.hid {
  height: 100vh;
}

.hid__card {
  position: relative;
  width: 266px;
  height: 350px;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);
  overflow: hidden;
}

.hid__card:hover {
  height: 488px;
}

.hid__heart {
  position: absolute;
  top: 21px;
  right: 16px;
}

.hid__heard :hover {
  background: red;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 30%;
}

.hid__title {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  color: #414141;
}

.hid__suptitle {
  font-family: "Roboto";
  font-size: 11px;
  font-weight: 400;
  color: #414141;
  margin-top: 6px;
  margin-bottom: 9px;
}

.hid__price {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  color: #414141;
}

.hid__product {
  position: absolute;
  top: 74px;
  right: 31px;
}

.hid__bottom {
  position: absolute;
  top: 278px;
  left: 20px;
}

.hid__sizes {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  color: #414141;
}

.hid__box {
  position: relative;
  width: 50px;
}

.hid__width {
  font-family: "Roboto";
  font-size: 9px;
  font-weight: 400;
  color: #C4C4C4;
  margin-top: 8px;
  margin-bottom: 8px;
}

.hid__centimeter {
  font-family: "Roboto";
  font-size: 9px;
  font-weight: 400;
  color: #414141;
}

.hid__btn {
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 400;
  color: #FFFFFF;
  width: 223px;
  height: 40px;
  background: #245462;
  margin-top: 17px;
}

.hid__btn:hover {
  background: #FFFFFF;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 400;
  color: #245462;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 3px solid #245462;
}

.hid__details {
  position: absolute;
  top: 359px;
  left: 20px;
}

.hid__x {
  position: absolute;
  top: 50%;
  right: 0;
}

.hid__big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.footer__list {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  color: #414141;
}

.footer__action {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  color: #414141;
  margin-right: 30px;
}

.footer__item {
  margin-right: 50px;
}

.footer__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 35px;
}

.footer__description {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  color: #414141;
  width: 171px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: end;
}

.footer__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__massage {
  margin-left: 30px;
  margin-right: 10px;
}

.footer__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 25px;
}

@media screen and (max-width: 1070px) {
  .underheader__input {
    width: 400px;
  }
}

@media screen and (max-width: 932px) {
  .underheader__details-child {
    display: none;
  }
  .underheader__details-action {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  .header {
    display: none;
  }
  .underheader__input {
    width: 243px;
  }
  .underheader__right {
    display: block;
  }
}
/*# sourceMappingURL=index.css.map */