@media screen and (max-width :1070px) {
    .underheader {
        &__input {
            width: 400px;
        }
    }
}
@media screen and (max-width :932px) {
    .underheader {
        &__details-child {
            display: none;
        }
        &__details-action {
            display: none;
        }
    }
}
@media screen and (max-width :769px) {
    .header {
        display: none;
    }
    .underheader {
        &__input {
            width: 243px;
        }
        &__right {
            display: block;
        }
    }
}

